---
title: Tillsammans Cup (Rampen Community)
---

<div class="section section--hero section--inverted section--blue" style="background-image: url('assets/images/tillsammans-cup-hero-bg.jpg')">
  <div class="container-fluid">
    <div class="row end-xs">
      <div class="col-xs-8 u-text-right">
        <div class="navigation navigation--collapse">
          <ul class="navigation__menu">
            <li>
              <a href="" class="navigation__link">Om rampen</a>
            </li>
            <li>
              <a href="" class="navigation__link">Projekt</a>
            </li>
            <li>
              <a href="" class="navigation__link">Kontakt</a>
            </li>
            <li>
              <a href="" class="navigation__link">Tillsammans Cup</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-md-10 u-text-center">
        <h1 class="u-margin-bottom">
          <%= image_tag 'tillsammans-cup-logo@2x.png', alt: 'Tillsammans Cup', width: '568', height: '138', class: 'u-margin-bottom-s u-margin-top' %>
          <div class="u-text-xlarge">Rampen Community</div>
        </h1>
        <ul class="inline-list u-text-xlarge u-text-strong u-text-boxed u-text-blue u-margin-top u-margin-bottom">
          <li><%= svg 'icon-calendar', class: 'icon' %>6 juni 2017</li>
          <li><%= svg 'icon-location', class: 'icon' %>Heden, Göteborg</li>
        </ul>
        <p class="u-text-xlarge u-text-strong u-margin-top">
          Tillsammans Cup är en ideell förening och har som mål att fylla varje gräsplätt i Sverige den 6e juni med fotbollsspelande svenskar, nyanlända och etablerande, för att fira nationaldagen så som den borde firas, med kärleksvibes, hurrarop och tillsammans.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section--inverted section--yellow">
  <div class="container-fluid">
    <div class="row center-md">
      <div class="col-md-10">
        <div class="section__header">
          <h2>Vill du vara med och spela?</h2>
        </div>
        <p class="u-text-center">Rampen är en ideell förening med mål att bryta utanförskap och minska segregation genom arenor där människor kan växa både i sig själva och tillsammans.</p>
      </div>
    </div>
    <form action="">
      <div class="row center-md">
        <div class="col-md-6">
          <div class="notice notice--inverted notice--warning u-margin-top">
            <div class="media">
              <div class="media__img">
                <%= svg 'icon-warning', class: 'icon' %>
              </div>
              <div class="media__body">
                Det finns fel i formuläret som behöver rättas till.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-md u-margin-top">
        <div class="col-md-6">
          <div class="u-margin-bottom-s">
            <label for="">Namn</label>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-3">
          <div class="u-margin-bottom-s">
            <label for="">Ålder</label>
            <input type="text">
          </div>
        </div>
        <div class="col-md-3">
          <div class="u-margin-bottom-s">
            <label for="">Kön</label>
            <select name="" id="">
              <option value="">Tjej</option>
              <option value="">Kille</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-6">
          <div class="u-margin-bottom-s">
            <label for="">E-postadress</label>
            <input type="email" class="input--error">
            <strong><%= svg 'icon-warning', class: 'icon icon--small' %>Du måste ange en giltig e-postadress.</strong>
          </div>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-6">
          <div class="u-margin-bottom-s">
            <label for="">Telefonnummer</label>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-6">
          <div class="u-margin-bottom-s">
            <label for="" class="checkbox">
              <input type="checkbox"><span>Jag godkänner <a href="">detta</a></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-6 u-text-center">
          <a href="" class="button button--inverted button--green u-margin-top">Anmäl dig</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="section section--inverted section--black" style="background-image: url('assets/images/tillsammans-cup-1.jpg')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section__header">
          <h2>Hur funkar det?</h2>
        </div>
      </div>
    </div>
    <div class="row start-md">
      <div class="col-md-8">
        <p class="u-text-strong">1. Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</p>
      </div>
    </div>
    <div class="row end-md">
      <div class="col-md-8">
        <p class="u-text-strong">2. Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</p>
      </div>
    </div>
    <div class="row start-md">
      <div class="col-md-8">
        <p class="u-text-strong">3. Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</p>
      </div>
    </div>
    <div class="row center-md">
      <div class="col-md-8">
        <div class="box">
          <h3>Tänk på att:</h3>
          <ul class="bullet-list u-text-strong u-text-large">
            <li>Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</li>
            <li>Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</li>
            <li>Du som är 14 - 25 år är välkommen att anmäla dig för att spela i Tillsammans Cup den 6 juni.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
    <div class="row">

    </div>
  </div>
</div>
